.custom-shape-divider-bottom-1664236583 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1664236583 svg {
  position: relative;
  display: block;
  width: calc(146% + 1.3px);
  height: 136px;
}

.custom-shape-divider-bottom-1664236583 .shape-fill {
  fill:#fefbfc;
}
.about{
  position: relative;
  height: 75vh;
  width: 100%;
  background-color: #ffcfda;
}
@media (max-width: 162px){
  .navv{
    display: flex;
  }
}
.navbar{
  background-color: #FFCFDA;
}
.navbar img{
  width: 200px;
}
.navbar li{
  list-style: none;
  display: inline-block;
  margin-left: 10px;
}
.navbar li a{
  text-decoration: none;
}
.navbar a{
  font-size: 25px;
  color: #fefbfc;
  transition: .3s;
}
.navbar a:hover{
  color: black;
  transition: .3s;
}
body{
  margin: 0;
  padding: 0;
  background-color: #fefbfc;
  /* overflow-x: hidden; */
}
.text{
  font-size: 20px;
  margin-top: 25px;
}
.hi{
  display: block;
}
.me{
  display: block;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  width: 100%;
}
.aboutContainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.aboutContainer img{
  position: absolute;
  right:250px;
  width: 340px;
height: 260px;
  
}
@media (min-width: 992px) and ( max-width: 1424px){
  .aboutContainer img{
    margin-top: 0;
  position: absolute;
  right:100px;
  width: 290px;
  height: 220px;
  }
}
@media (max-width: 993px){
  .aboutContainer img{
    display: none;
  }
}
.e{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75vh;
  width: 100%;
  position: relative;
}
.e img{
  width: 350px;

}
.e p{
  width: 400px;
  font-size: 20px;
}
.e p a{
  text-decoration: none;
  color: #eb6e8b;
}
@media (max-width: 990px) and (min-width: 482px){
  .e img{
    width: 300px;
  }
  .e p{
    margin-left: 30px;
  }
}
/* @media (max-width: 527px){
.e p{
  margin: 0 50px;
}
} */
.custom-shape-divider-top-1664231736 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1664231736 svg {
  position: relative;
  display: block;
  width: calc(146% + 1.3px);
  height: 136px;
}

.custom-shape-divider-top-1664231736 .shape-fill {
  fill:#fefbfc;
}
.learning{
  position: relative;
  height: 75vh;
  width: 100%;
  background-color: #FFCFDA;
}
.learningBody p{
  width: 400px;
  margin-top: 200px;
  font-size: 20px;
  color: rgb(80, 76, 76);
}
.learningBody{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.learningBody img{
  width: 350px;
  margin-top: 180px;
}
@media (max-width: 992px) and (min-width: 645px){
  .learningBody img{
    width: 250px;
  }
  .learningBody p{
    font-size: 17px;
  }
}
@media (max-width: 644px){
  .learningBody img{
    display: none;
  }
  .e img{
    display: none;
  }
  .learningBody p{
    width: 350px;
  }
  .e p{
    width: 350px;
  }
}
/* @media (max-width: 2000px){
  .learningBody img{
    width: 280px;
  }
  .learningBody p{
    font-size: 16px;
  }
}
@media (max-width:770px){
  .learningBody img{
    margin-left: 50px;
  }
} */
.myWork p a{
text-decoration: none;
color: #eb6e8b;
}
.footer{
  margin-top: 70px;
  height: 15vh;
  background-color: #FFCFDA;
  position: relative;
}
.footerContent{
  position: absolute;
  top:50%;
}
.footerContent .copy{
 display: inline-block;
 
}
.footerContent span{
  color: rgb(80, 76, 76);
  margin-left: 5px;
}
.fa-brands{
  margin-left: 10px;
  color: #eb6e8b;
}





